/* style info
COLOURS:
light green: #dbf9b8
green: #006613
pink/red: #ff5f55
  alternative 1: #f82f36  
  alternative 2: #FF3526
white: #ffffff
black: #000000

FONTS:


*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  background-color: #e9ffdb;
  min-width: 380px;
  height: 100vh;
  margin: 0;
}

/* HEADER */
header {
  height: 10%;
}
.nav-btn {
  /*background-image: ; doplnit hamburger ikonu*/
}

.nav-closed {
  display: none;
}

/* MAIN */
main {
  height: 80%;
  margin: 0;
  margin-top: 0;
}
h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 38px;
  text-align: center;
  color: #006613;
  margin: 30px 0;
}

p {
  margin: 30px;
}
.new-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-list--button {
  border: none;
  text-decoration: none;
  color: white;
  background-color: #fe5f55;
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 28px;
  border-radius: 30px;
  cursor: pointer;
  margin: 20px 0;
}
.new-list--button:hover,
.new-list--button:focus {
  background-color: #f82f36;
  transform: scale(1.1);
}

.new-list--button--selected {
  border: 2px solid #fe5f55;
  color: #fe5f55;
  background-color: white;
}
.new-list--intro {
  color: grey;
}
.new-list--type {
  list-style-type: none;
}

.new-list--name {
  border: none;
  border-bottom: 1px solid #006613;
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  background-color: inherit;
  margin: 25px 20px 0 0;
  padding-bottom: 10px;
}

.create-list {
  border: 2px solid #fe5f55;
  color: #fe5f55;
  background-color: white;
  font-family: 'Jost', sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 22px;
  border-radius: 30px;
  cursor: pointer;
}

.create-list:hover,
.create-list:focus {
  border: 2px solid #f82f36;
  color: #f82f36;
  transform: scale(1.1);
}
.about-btn {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 35px 0;
}

.about {
  width: 100px;
  height: 100px;
  padding: 35px 10px;
  text-decoration: none;
  background-color: #006613;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  /* tady bych ráda otočila text o -30°*/
}

.about:hover,
.about:focus {
  background-color: #007315;
  transform: scale(1.1);
}

/*FOOTER*/
footer {
  height: 5%;
  text-align: center;
}

/* -----STŘEDNÍ ROZLIŠENÍ od 720px -----*/

@media screen and (min-width: 720px) {
  /* HEADER */
  header {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .navigation-container {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    justify-content: center;
    height: 70px;
    align-items: center;
  }
  .nav-btn {
    display: none;
  }
  .nav-closed {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
  }
  .nav-polozky {
    text-decoration: none;
    padding: 10px;
    color: #006613;
  }
  .nav-polozky:hover,
  .nav-polozky:focus {
    color: #007315;
    background-color: #dbf9b8;
    font-size: 18px;
    padding: 8px;
  }
  /*MAIN*/
  main {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* -----VELKÉ ROZLIŠENÍ od 992px -----*/

/* @media screen and (min-width: 992px) {
} */

/*-------------------LIST-------------------*/
.seznam-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.nav-btn {
  margin: 30px;
  margin-left: 40px;
  height: 50px;
  width: 50px;
  /* background-image: ; HAMBURGER MENU*/
}

.navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h3 {
  margin: auto 40px auto auto;
  font-size: 24px;
  display: inline-block;
}

h2 {
  width: 70%;
  margin: 30px 0;
  padding: 8px 24px;
  font-family: 'Jost', sans-serif;
  font-size: 36;
  font-weight: 600;
  color: white;
  background-color: #fe5f55;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
}

.form-list {
  width: 90%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  padding-left: 30px;
}

form .input {
  font-size: 18px;
  font-family: 'Jost', sans-serif;
  width: 85%;
  border: 1px solid #dbf9b8;
  padding: 5px;
}

.kategorie-ikonky {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid red;
  width: 85%;
  margin: 10px 0;
}
.ikonky-volba {
  width: 20%;
}
.btn-add-item {
  background-color: #006613;
  color: #dbf9b8;
  padding: 10px;
  border: none;
  font-size: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-family: 'Jost', sans-serif;
  position: absolute;
  left: 80%;
  top: 10%;
}

.btn-add-item:hover,
.btn-add-item:focus {
  background-color: #007315;
  transform: scale(1.1);
}

.kategorie-container {
  width: 90%;
}
.kategorie-list {
  margin-top: 30px;
  background-color: #fe5f55;
  display: flex;
  justify-content: space-between;
}

.input-checkbox-ktg {
  width: 25px;
  height: 25px;
  margin-top: auto;
  margin-bottom: auto;
}

.btn-kategorie {
  background-color: #fe5f55;
  border: none;
  padding: 5px;
  width: 80%;
  text-align: left;
}

.ikonka-delete {
  width: 33px;
  height: 33px;
}

ul {
  list-style-type: none;
  border: 1px solid red;
  padding: 0;
}

/* .input-checkbox {
  width:
} */

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Jost', sans-serif;
}

/* -----STŘEDNÍ ROZLIŠENÍ od 720px -----*/

@media screen and (min-width: 720px) {
  /* HEADER */
}
