/* style info
COLOURS:
light green: #dbf9b8
green: #006613
pink/red: #ff5f55
  alternative 1: #f82f36  
  alternative 2: #FF3526
white: #ffffff
black: #000000

FONTS:


*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  background-color: #e9ffdb;
  height: 100vh;
  margin: 0;
}

/* HEADER */
header {
  height: 10%;
  display: none;
}

/* MAIN */
main {
  height: 80%;
  margin: 0;
  margin-top: 0;
}
h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 38px;
  text-align: center;
  color: #006613;
  margin: 30px 0;
}

p {
  margin: 30px 0;
}
.new-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-list--button {
  border: none;
  text-decoration: none;
  color: white;
  background-color: #fe5f55;
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 28px;
  border-radius: 30px;
  cursor: pointer;
  margin: 20px 0;
}
.new-list--button:hover,
.new-list--button:focus {
  background-color: #f82f36;
}

.new-list--button--selected {
  border: 2px solid #fe5f55;
  color: #fe5f55;
  background-color: white;
}
.new-list--intro {
  color: grey;
}
.new-list--type {
  list-style-type: none;
}

.new-list--name {
  border: none;
  border-bottom: 1px solid #006613;
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  background-color: inherit;
  margin-top: 25px;
  padding-bottom: 10px;
}

.create-list {
  border: 2px solid #fe5f55;
  color: #fe5f55;
  background-color: white;
  font-family: 'Jost', sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 22px;
  border-radius: 30px;
  margin-left: 15px;
  cursor: pointer;
}

.create-list:hover,
.create-list:focus {
  border: 2px solid #f82f36;
  color: #f82f36;
  font-size: 15px;
  margin-left: 14px;
}
.about-btn {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 35px 0;
}

.about {
  width: 100px;
  height: 100px;
  padding: 35px 10px;
  text-decoration: none;
  /* background-color: #268037; */
  background-color: #006613;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  /* tady bych ráda otočila text o -30°*/
}

.about:hover,
.about:focus {
  background-color: #007315;
}

/*FOOTER*/
footer {
  height: 5%;
  text-align: center;
}

/* STŘEDNÍ ROZLIŠENÍ */
@media screen and (min-width: 980px) {
  /* HEADER */
  header {
    display: inline-block;
  }

  /*MAIN*/

  main {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
